#Local Folders

BasedeToque
BioHashing
BioHashing-Before Discretization
bin/
.RData
.Rhistory
.classpath
.project
*~
*.class
Matlab/Data/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/BioHashing_Norman/
/Norman Methodology/
/boxplot_with_outliers.pdf
/boxplot_withot_outliers.pdf
/IntraSession-User_1_Day_1_Scrolling.R
/KNN_Original_Client_ScoreMatrix_User_1.txt
/KNN_Original_Impostor_ScoreMatrix_User_1.txt
/medium.arff
/small.arff
/teste.R.txt

/Matlab/Key Experiment/
/Matlab/workspace.mat
/Matlab/main_marcelo.m
/Matlab/Score*
/Matlab/lib/Inpaint_nans/*
/Matlab/images/*
/Matlab/DETPlots/*
/Matlab/clientScoreMap.mat
/Matlab/farMap.mat
/Matlab/frrMap.mat
/Matlab/impostorScoreMap.mat
