#Local Folders

BasedeToque
BioHashing
BioHashing-Before Discretization
bin/
.RData
.Rhistory
.classpath
.project
*~
*.class
Matlab/Data/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
